<% unless user_signed_in?%>
<h2 class="mb-5">働かざるを得ない</h2>
  <p>社会は厳しいです。</p>
  <p>自己肯定感は低下し、劣等感が増す一方になります。</p>
  <p>技術力に裏打ちされた確固たる自信をもって働きましょう。</p>
<% end %>  

<h3>お問合せについて</h3>
<p>お問合せは<strong>jeopardy1216@gmail.com</strong>までお願いいたします。</br>3日以内に返信いたします。営業目的でのお問合せはお断りしております。</p>
<h3>寄付について</h3>
<p>お金に困っています。助けてください。以下振込先情報になります。</br>差し支えなければ、<strong>jeopardy1216@gmail.com</strong>宛にお名前とご住所をお送りください。</br>金額の多寡にかかわらずお礼のお手紙を送らせていただきます。</p>
<dl>
  <dt>銀行</dt>
  <dd>楽天銀行</dd>
  <dt>口座番号</dt>
  <dd>3117893</dd>
  <dt>支店名(番号)</dt>
  <dd>アロハ支店(221)</dd>
  <dt>口座名義</dt>
  <dd>二木孝幸(フタツギタカユキ)</dd>
</dl>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>Username</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
            <input type="password">
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="ui blue submit button">Login</div>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="ui big button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>